body {
    background-color: rgb(25, 25, 25);
    color: rgb(236, 236, 236);
    padding: 0px;
    margin: 0px;
}

#lewyPanel{
    background-color: rgb(16, 214, 9);
    color: black;
    height: 96%;
    width: 5%;
    float: left; 
    margin: 0px;
}

#GórnyPanel{
    background-color: rgb(7, 221, 60);
    width: 100%;
    height: 4%;
    margin: 0px;
    color: black;
}

#main{
    height: 96%;
    width: 100%;
    margin: 0px;
    background-color: rgb(19, 153, 2);
}

#kontener{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#CzystszePowietrze{
    margin: auto;
    width: max-content;
    font-size: 100%;
    height: 100%;
}