body {
    background-color: rgb(25, 25, 25);
    color: rgb(236, 236, 236);
    padding: 0px;
    margin: 0px;
}

#lewyPanel{
    background-color: rgb(16, 214, 9);
    color: black;
    height: 96%;
    width: 10%;
    float: left; 
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#GórnyPanel{
    background-color: rgb(7, 221, 60);
    width: 100%;
    height: 4%;
    margin: 0px;
    color: black;
}

#main{
    height: 96%;
    width: 100%;
    margin: 0px;
    background-color: rgb(19, 153, 2);
    /* padding: 5px; */
}

#kontener{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#CzystszePowietrze{
    margin: auto;
    width: max-content;
}

.lewyPanelText{
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(0, 37, 250);
}

#smogCityButton{
    padding: 0;
}

#smogCityIMG{
    width: 80%;
    height: 80%;
    
    margin-top: 5%;
    margin-left: 5%;
    transition: all 10ms;

    border-radius: 10px;
}

#smogCityIMG:active{
    cursor: pointer;

    width: 75%;
    height: 75%;

    margin-left: 7.5%;
    margin-top: 7.5%;

}